<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="page-header">Welcome to SlimStarter</h3>
        <p>Let's build your own dashboard!</p>
        <p>by editing app/views/admin/dashboard.twig</p>
    </div>
</div>