{% extends 'master.twig' %}

{% block body %}
    <div id="wrapper">
        {{include('docs/topbar.twig')}}
        {{include('docs/sidebar.twig')}}
        <div id="page-wrapper" style="margin-top:50px">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">{{ title }}</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}