.page-header-box  h3, .page-header-box  a{
    margin-top:15px;
    border-bottom: none;
}

.page-header-box{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

.pointer {
    position: absolute;
    right: 20px;
    top: 10px;
}
.pointer .arrow,
.pointer .arrow_border {
    border-color: transparent #fff transparent transparent;
    border-width: 11px;
    border-style: solid;
    font-size: 0;
    left: 50%;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002;
    left: 0;
    margin-left: 45%;
}
.pointer .arrow_border {
    border-color: transparent #e7e7e7 transparent transparent;
    border-width: 11px;
    margin-left: -1px;
    border-style: solid;
    z-index: 1001;
    top: 0px;
}
.menu_active > a {
    color: #0636BA;
    background: #f4f4f4;
}

#page-wrapper{
    min-height: 0;
}


@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 200px;
    }

    #page-wrapper {
        margin: 0 0 0 200px;
        min-height: 0;
        border-left: 1px solid #e7e7e7;
    }
}