{% extends 'admin/index.twig' %}
{% block content %}
<div class="row page-header-box">
    <div class="col-xs-10">
        <h3>{{ title }}</h3>
    </div>
    <div class="col-xs-2">
        <a href="#" id="btn-user-add" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add Group</a>
    </div>
</div>
{% endblock %}